/* You can add global styles to this file, and also import other style files */


@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

h2{
    color: #605DC8;
}