<div class="row ps-5 pe-3">
    <h3 class="section pt-5 mb-0">{{title}}</h3>
    <form [formGroup]="claimsForm" (submit)="onSubmit()">
        <div class="col my-3">
            <label for="name" class="form-label">Claimer Full Name</label>
            <input id="name" type="text" class="form-control" formControlName="name">
        </div>

        <div class="col my-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email">
        </div>

        <div class="col my-3">
            <label for="reason" class="form-label">Dismissal reason</label>
            <select name="reason" id="reason"class="form-select" formControlName="reason"> 
                <option *ngFor="let item of dismissalReasonsList" [value]="item">
                {{ item }}
            </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!claimsForm.valid">Submit claim</button>
    </form>
</div>