label,
input, button {
    display: block;
}

label {
    color: #8B89E6;
    font-size: 12pt;
}

input, select {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
}

button {
    padding: 10px;
    border: solid 1px #605DC8;
    background: #605DC8;
    color: white;
    border-radius: 8px;
}

:disabled {
    padding: 10px;
    border: solid 1px #e8e7fa;;
    background: #e8e7fa;;
    color: #605DC8;
    border-radius: 8px;
}