<div class="row ps-md-2 ps-5 pe-5">
    <div class="col">
    <h3 class="section pt-5">Edit your claims</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Claimer Name</th>
                <th scope="col">Dismissal reason</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claim of claimsList" >
                <td>{{claim.claimerName}}</td>
                <td>{{claim.dismissalReason}}</td>
                <td>{{claim.email}}</td>
                <td>
                    <button class="btn">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                </td>
                <td>
                    <button class="btn" (click)="deleteClaim(claim.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
